* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

.max-width-wrapper {
  max-width: 1000px;
  margin: auto;
}

section.max-width-wrapper {
  height: 100%;
  border-top: solid 8px hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}

.title {
  margin: 96px 0px 64px;
}

.intro-chunk {
  max-width: 600px;
  margin: auto;
  padding: 24px;
  margin-bottom: 56px;
}

.intro-chunk p {
  max-width: 350px;
  font-size: 1.25rem;
  line-height: 1.75;
}

.indented-heading {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 0px 16px -32px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
  font-size: 1.25rem;
}

.card {
  max-width: 600px;
  margin: auto;
  margin-top: 64px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
}

.card p {
  line-height: 1.5;
}
